- @act_ids ||= @user.activity_ids(@run_count || 20, 1)
- user_runs = Hash[@user.runs.map{ |r| [r.run_id, r] }]
/ %a{href: '/retrieve' } Retrieve last run
%table.runs
  %thead
    %td Run ID
    %td Day
    %td Time
    %td Time
    %td Time
    %td distance
    %td pace_secs
    %td avg_hr
    %td dur_secs
    %td temp
    %td temp_min
    %td temp_max
    %td hum
    - @user.custom.each do |c|
      %td= c
  %tbody
    - @act_ids.each do |run_id|
      %tr.run{id: run_id}
        - if @r = user_runs[run_id.to_s]
          = haml :run_tr
        - else
          %td
            %a{href: "/run/#{run_id}"}= run_id
          %td
            %a.get{href: "/run/#{run_id}" } Get run data
%br
%br
%br
%br
%a{href: '/logout' } logout
